<form class="example-form">
    <md-form-field class="example-full-width">
      <input mdInput placeholder="Denominazione" [value]="contact.Denominazione">
    </md-form-field>
    <md-form-field class="example-full-width">
      <input mdInput placeholder="Nome" [value]="contact.Nome">
    </md-form-field>
    <md-form-field class="example-full-width">
      <input mdInput placeholder="CFPiva" [value]="contact.CFPiva">
    </md-form-field>
    <md-accordion class="example-headers-align">
    <md-expansion-panel>
      <md-expansion-panel-header>
        <md-panel-title>
          Contatti
        </md-panel-title>
        <md-panel-description>
          Telefono / Fax / Email
          <md-icon>contacts</md-icon>
        </md-panel-description>
      </md-expansion-panel-header>
      <table class="example-full-width"> 
        <tr>
          <td>
            <md-form-field class="example-full-width">
              <input mdInput placeholder="Telefono" [value]="contact.Telefono">
          </md-form-field>
          </td>
          <td>
            <md-form-field class="example-full-width">
              <input mdInput placeholder="Cellulare" [value]="contact.Cellulare">
          </md-form-field>
          </td>
        </tr>
      </table>
      <table class="example-full-width"> 
        <tr>
          <td>
            <md-form-field class="example-full-width">
              <input mdInput placeholder="Fax" [value]="contact.Fax">
          </md-form-field>
          </td>
          <td>
            <md-form-field class="example-full-width">
              <input mdInput placeholder="Email" [value]="contact.Mail">
          </md-form-field>
          </td>
        </tr>
      </table>
    </md-expansion-panel>
    
    <md-expansion-panel>
      <md-expansion-panel-header>
        <md-panel-title>
          Indirizzo
        </md-panel-title>
        <md-panel-description>
          Residenza/Domicilio
          <md-icon>home</md-icon>
        </md-panel-description>
      </md-expansion-panel-header>
        <table class="example-full-width"> 
          <tr>
            <td>
              <md-form-field class="example-full-width">
                <input mdInput placeholder="Comune" [value]="contact.Comune">
            </md-form-field>
            </td>
            <td>
              <md-form-field class="example-full-width">
                <input mdInput placeholder="Cap">{{ contact.Cap || ''}}
            </md-form-field>
            </td>
          </tr>
        </table>
        <md-form-field class="example-full-width">
            <input mdInput placeholder="Indirizzo" [value]="contact.Indirizzo">
        </md-form-field>
        
        <md-form-field class="example-full-width">
            <input mdInput placeholder="Presso" [value]="contact.Presso">
        </md-form-field>
      </md-expansion-panel>

      <md-expansion-panel>
        <md-expansion-panel-header>
          <md-panel-title>
            Indirizzo
          </md-panel-title>
          <md-panel-description>
            Corrispondenza
            <md-icon>contact_mail</md-icon>
          </md-panel-description>
        </md-expansion-panel-header>
        <table class="example-full-width">
          <tr>
            <td>
              <md-form-field class="example-full-width">
                <input mdInput placeholder="Comune" [value]="contact.ComuneC">
              </md-form-field>
            </td>
            <td *ngIf="contact.CapC">
              <md-form-field class="example-full-width">
                <input mdInput placeholder="CapC" [value]="contact.CapC">
              </md-form-field>
            </td>
          </tr>
        </table>
        <md-form-field class="example-full-width">
            <input mdInput placeholder="Indirizzo" [value]="contact.IndirizzoC">
        </md-form-field>
        <md-form-field class="example-full-width">
            <input mdInput placeholder="Presso" [value]="contact.PressoC">
        </md-form-field>
      </md-expansion-panel>
      <md-expansion-panel *ngIf="contact.Persona == 'F'">
          <md-expansion-panel-header>
            <md-panel-title>
              Dati Personali
            </md-panel-title>
            <md-panel-description>
              Nascita, Sesso etc.
              <md-icon>account_circle</md-icon>
            </md-panel-description>
          </md-expansion-panel-header>
          <md-form-field>
            <input type="date" mdInput placeholder="data di nascita" [value]="contact.DataNascita">
          </md-form-field>
          <div>
            <span>Sesso</span>
            <span>
              <md-radio-group>
                <md-radio-button class="example-margin" value="M">Maschio</md-radio-button>
                <md-radio-button class="example-margin" value="F">Femmina</md-radio-button>
              </md-radio-group>
            </span>
          </div>
      </md-expansion-panel>
    </md-accordion>

  </form>